.form{
    height:50%;
    width:50%;
    position: center;
    margin-top: 5cm;
    margin-left: 5cm;
    border: cadetblue ridge;
    background-color: cornsilk;
    padding: 2cm;
    
}
.button{
    text-align: center;
}