<div class="home">
    <div class="columns">
    <div class="column">
        The idea of an AATMA-NIRBHAR India is gaining a wide popularity. Also, we know a lot of Indian small-scale industries still operate from the homes in rural India. Handmade goods from India are superior in quality and have a high value across the globe. To support this Home-Industry trend in India and support it’s functioning in a perfect or a close to perfect way for the wellbeing of the citizens of the nation, Nagarro plan to develop an application to support Home-Industry in India. The application will be called as “Home Industry Registration Application”, and it will include the below set of functional features.
The application will be generic application which can be used by any organization to setup a network of home industries for production across the country. For this we will start with building a registration portal to support registration of small employees/organizations under this plan.
The application will allow new users to register as employees/organizations (we can call them applicants). New users will have to follow a multistep process to do registration.

    </div>
</div>
</div>