.home{
  background-color: lavender;
  opacity: 0.5;
}
.column{
    height:relative;
    width:50px;
    margin: 50px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}