body{
    background:#ddd;
}
.register{
    margin:50px;
    padding:20px;
}
.heading{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:50px;
    text-decoration: blue;
}